.pauseModal {
    background-color: rgba(32, 178, 171, 0.855);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px;
    border: 2px solid;
    border-color: #eeeeee #999999 #999999 #eeeeee;
    padding: 0px;
    vertical-align: middle;
    position: absolute;
    
}